<div class="d-flex justify-content-between fles-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%= users.firstName %> <%= users.lastName %></h1>
</div>

<div class="col py-3">

    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active"><%= users.firstName  %></li>
          </ol>
        </nav>
      </div>
    </div>
</div>

<ul class="list-group">

    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Name:</b></div>
        <div class="col"><%= users.firstName %> <%= users.lastName %></div>
      </div>
    </li>
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Tel:</b></div>
        <div class="col"><%= users.tel %></div>
      </div>
    </li>
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Designation:</b></div>
        <div class="col"><%= users.designation %></div>
      </div>
    </li>

    <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b>Department:</b></div>
          <div class="col"><%= users.dept %></div>
        </div>
      </li>
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Email:</b></div>
        <div class="col"><%= users.email %></div>
      </div>
    </li>
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Credentials:</b></div>
        <div class="col"><%= users.credentials %></div>
      </div>
    </li>

    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Handover Form:</b></div>
        <div class="col"><%= users.handover %></div>
      </div>
    </li>

    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Antivirus:</b></div>
        <div class="col"><%= users.antivirus %></div>
      </div>
    </li>

    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Devices:</b></div>
        <% users.devices.forEach(function(device) { %>
          <div class="col"><%= device.DeviceType %> <%= device.DeviceID %></div>
        <% }); %>
      </div>
    </li>
  
  </ul>